@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Condensed:wght@700&display=swap');
:root {
    --blue: rgb(188, 212, 222);
    --red: rgb(254, 95, 85);
    --yellow: rgb(254, 147, 85);
    --dark-blue: rgb(1, 25, 54);
    --light-blue: rgb(11, 121, 255);
    --green: rgb(91, 140, 90);
    --shadow: rgba(0, 0, 0, 0.25);
    --purple: rgb(245, 31, 120);
}

* {
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#app {
    height: 100%;
}

#home {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
}

#mainBody {
    width: 100%;
    align-self: center;
    justify-self: center;
}

#nav {
    position: absolute;
    right: 0;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    .button {
        padding: 5px;
    }
    .button:hover {
        color: white;
    }
}

#nav a {
    font-weight: bold;
    color: var(--dark-blue);
    cursor: pointer;
    transition: 0.3s;
}

#nav a:hover {
    opacity: 0.85;
}

#nav a.modal-active {
    color: var(--purple);
}

#logo {
    margin: 0;
    font-size: 5rem;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    color: var(--dark-blue);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-shadow: 0.5px .5px 0px #0b79ff, 1px 1px 0px #1f6dce, 1.5px 1.5px 0px #c4098c, -0.5px -.5px 0px #f51f78, -1px -1px 0px #f51f78, -1.5px -1.5px 0px #eb00a4;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a {
    cursor: pointer;
    transition: 0.2s;
}

a:hover {
    color: var(--dark-blue);
    text-shadow: 0.1px .1px 0px #0b79ff, .25px .25px 0px #1f6dce, .1px 1.1px 0px #c4098c, -0.5px -.5px 0px #f51f78, -1px -1px 0px #f51f78, -.1px -.1px 0px #eb00a4;
}

p {
    opacity: 0.7;
    size: .9rem;
}

h1,
h2 {
    margin: .4rem 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    text-shadow: 0.5px .5px 0px #0b79ff, 1px 1px 0px #1f6dce;
}

h1 {
    font-size: 4rem;
}

h3 {
    color: var(--dark-blue);
    font-size: 1.1rem;
}

.button {
    margin: .5rem;
    cursor: pointer;
    font-weight: 700;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid var(--dark-blue);
    background-color: white;
    transition-duration: 0.3s;
}

.button.text {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    padding: .5rem;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: var(--dark-blue);
}

.button:disabled {
    cursor: auto;
    border-color: var(--shadow);
    background-color: white;
    color: var(--shadow);
}

.button-success {
    cursor: auto;
    background-color: var(--green);
    border: 2px solid var(--green);
    color: white;
}

.button-error {
    background-color: var(--red);
    border: 2px solid var(--red);
    color: white;
}

.button-working {
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
    color: white;
}

.button-error:hover {
    background-color: var(--red);
    cursor: auto;
}

.button-success:hover {
    background-color: var(--green);
    cursor: auto;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 1rem;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 12px 12px 16px 0 var(--shadow), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.text-box {
    height: 80%;
    width: 100%;
    margin: 5px 5px;
    border: 2px solid transparent;
    outline: none;
}

// Options Modal
#optionsModal {
    h1 {
        font-size: 2rem;
        margin: 0;
        text-shadow: none;
    }
    h2,
    h3,
    h4,
    p {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        text-shadow: none;
    }
    .divider {
        height: 2px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        border-radius: 20px;
        box-shadow: 0px 2px 8px rgb(163, 163, 163);
    }
    #section {
        padding: 10px 0;
    }
    #datePicker {
        font-family: "Roboto", sans-serif;
        border-radius: 10px;
        border-width: 0;
        box-shadow: 12px 12px 16px 0 var(--shadow), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
        color: var(--dark-blue);
        width: 100%;
        padding-right: 5px;
        outline: none;
    }
     ::-webkit-datetime-edit-text {
        color: var(--light-blue);
        padding: 0 0.3em;
    }
     ::-webkit-datetime-edit {
        padding: 1em;
    }
    #title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        margin: 0;
        i {
            transition: transform 0.4s;
            cursor: pointer;
        }
        i:hover {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }
        p {
            font-size: 0.75rem;
        }
    }
    #row {
        display: grid;
        grid-template-columns: 20% 20% 15% 15% 15% 15%;
        grid-template-rows: auto;
        grid-template-areas: "left left right right right right";
        #left {
            grid-area: left;
            h3,
            h4 {
                margin: 10px 0 0 10px;
            }
            p {
                margin: 5px 0 10px 10px;
                font-size: 0.85rem;
                opacity: 0.65;
            }
        }
        #right {
            align-self: center;
            grid-area: right;
            margin: 5px 15px 0 15px;
            p {
                padding: 10px;
                background-color: white;
                border-radius: 5px;
                border-width: 2px;
                border-style: solid;
                border-color: rgba(0, 0, 0, 0.25);
                box-shadow: 12px 12px 16px 0 var(--shadow), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
                transition: 0.3s;
                cursor: pointer;
            }
            p:hover {
                background-color: rgba(255, 255, 255, 0.8);
                border-color: var(--dark-blue);
            }
        }
    }
    #section.purple {
        background-color: rgba(245, 31, 120, 0.25);
    }
    .purple {
        #title {
            color: var(--purple);
        }
        #row {
            #left {
                h3,
                p {
                    color: var(--purple);
                }
            }
        }
    }
    .input-text {
        height: 80%;
        width: 100%;
        margin: 5px 5px;
        box-shadow: 12px 12px 16px 0 var(--shadow), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        border-width: 0;
        padding: 1rem;
        color: var(--dark-blue);
        outline: none;
    }
}

// Modal
.vm {
    border-radius: 10px;
    max-width: 900px !important;
}

.vm-content {
    padding: 0 !important;
}

// Date picker styles override
.ve-dp-body--months__values--item {
    transition: 0.3s;
}

.ve-dp-body--months__values--item:hover {
    background: var(--dark-blue) !important;
    opacity: 0.7;
    color: #fff !important;
}

.ve-dp-body--months__values--item--active:hover {
    background: var(--dark-blue) !important;
    opacity: 0.85;
}

.ve-dp-body--years__item {
    transition: 0.3s;
}

.ve-dp-body--years__item:hover {
    background: var(--dark-blue) !important;
    opacity: 0.7;
    color: #fff !important;
}

.ve-dp-body--years__item--active:hover {
    background: var(--dark-blue) !important;
    opacity: 0.85;
}

.ve-dp-body--days__values--item {
    transition: 0.3s;
}

.ve-dp-body--days__values--item:hover {
    background: var(--dark-blue) !important;
    opacity: 0.7;
    color: #fff !important;
}

.ve-dp-body--days__values--item--active:hover {
    background: var(--dark-blue) !important;
    opacity: 0.85;
}