@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Condensed:wght@700&display=swap');
:root {
    --blue: #bcd4de;
    --red: #fe5f55;
    --dark-blue: #011936;
    --green: #5b8c5a;
    --shadow: rgba(0, 0, 0, 0.25);
}

* {
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    margin: 0;
    font-size: 5rem;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    color: var(--dark-blue);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-shadow: 0.5px .5px 0px #0b79ff, 1px 1px 0px #1f6dce, 1.5px 1.5px 0px #c4098c, -0.5px -.5px 0px #f51f78, -1px -1px 0px #f51f78, -1.5px -1.5px 0px #eb00a4;
}

p {
    opacity: 0.7;
    margin: 0;
}

h1,
h2 {
    margin: .4rem 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    text-shadow: 0.5px .5px 0px #0b79ff, 1px 1px 0px #1f6dce;
}

h1 {
    font-size: 4rem;
}

.button {
    margin: .5rem;
    cursor: pointer;
    font-weight: 700;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid var(--dark-blue);
    background-color: white;
    transition-duration: 0.3s;
}

.button.text {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    padding: .5rem;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: var(--dark-blue);
}

.button:disabled {
    cursor: auto;
    border-color: var(--shadow);
    background-color: white;
    color: var(--shadow);
}

.button-success {
    cursor: auto;
    background-color: var(--green);
    border: 2px solid var(--green);
    color: white;
}

.button-error {
    background-color: var(--red);
    border: 2px solid var(--red);
    color: white;
}

.button-error:hover {
    background-color: var(--red);
    cursor: auto;
}

.button-success:hover {
    background-color: var(--green);
    cursor: auto;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 1rem;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 12px 12px 16px 0 var(--shadow), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.text-box {
    height: 80%;
    width: 100%;
    margin: 5px 5px;
    border: 2px solid transparent;
    outline: none;
}